/* tailwind css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind css */

/* custom css */
@font-face {
    font-family: 'Hack';
    src: url('assets/hack-regular.woff2') format('woff2'), url('assets/hack-regular.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* @import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css'); */

body {
    background: rgb(58, 58, 58);
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select: none;
}

.canvas {
    position: absolute;
    font-family: "Hack";
    background-color: rgba(167, 167, 167, 0.308);
    border: lightgrey 1px solid;
    z-index: 0;
}

.previewcanvas {
    background: rgba(0, 0, 0, 0.1);
    border: lightgrey 1px solid;
    z-index: 0;
}

.context-menu {
    position: fixed;
    background: white;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.reverseorder {
    display: flex;
    flex-direction: column-reverse;
}

.brushcanvas {
    background: rgba(0, 0, 0, 0.1);
    border: lightgrey 1px solid;
    z-index: 0;
}

.canvastools {
    position: absolute;
    font-family: "Hack";
    z-index: 0;
    opacity: 0.7;
    cursor: crosshair;
}