/* tailwind css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind css */

/* custom css */
@font-face {
    font-family: 'Hack';
    src: url('assets/hack-regular.woff2') format('woff2'), url('assets/hack-regular.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');

body {
    background: #eee;
}

canvas {
    font-family: "Hack";
}